.auth-container-out {
    height:100%;
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: column;
};

.auth-item-left {
    display: flex;
    position: static;
    justify-content: center;
    align-items: flex-start;
    height:720px;
    border: 1px solid black;
    background-color: #C6553B;
}

.auth-item-right {
    display: flex;
    position: static;
    justify-content: center;
    height:720px;
    border: 1px solid black;
}

.label-style {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    /* identical to box height */


    color: #000000;
}

.signup-container-out {
    position: absolute;
    width: 539px;
    height: 540px;
    min-width: 200px;
    max-width: 520px;
    left: 32%;
    top: 8%;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
}

.form-validation {
    color: #ca2929;
}

@media screen and (200px < width <= 512px) {
    .auth-container-out {
        background-color: #C6553B;
    }

    .auth-item-left {
        display: none;
    }

    .auth-item-right {
        display: none;
    }

    .signup-container-out {
        position: absolute;
        width:80%;
        left:0%;
    }
}


@media screen and (512px <= width <= 820px) {

    .auth-container-out {
        background-color: #C6553B;
    }

    .auth-item-left {
        display: none;
    }

    .auth-item-right {
        display: none;
    }

    .signup-container-out {
        position: absolute;
        width:60%;
        left: 15%;
    }
}

@media screen and (820px <= width <= 1200px) {

    .signup-container-out {
        position: absolute;
        width:40%;
        left: 26%;
    }
}