

body {
    margin: 0;
    // min-width: 360px;
}

.auth-container-out {
    display: flex;
    height:auto;
    width: 100%;
    min-width: 360px;
    position: relative;
    justify-content: center;
    margin: 0
};

.auth-item-left {
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background-color: #C6553B;
}

.auth-item-right {
    display: flex;
    position: relative;
    justify-content: center;
    height:100vh;
    // border: 1px solid black;
}

.label-style {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    /* identical to box height */


    color: #000000;
}

.signup-container-out {
    display: flex;
    position: absolute;
    width: 60%;
    height: 540px;
    align-content: center;
    justify-items: center;
    min-width: 200px;
    max-width: 400px;
    // left: 32%;
    top: 8%;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    // text-align:start;
}

.form-validation {
    color: #ca2929;
}

@media screen and (200px < width <= 512px) {
    body {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #C6553B;
        justify-content: center;
        align-content: center;
    }
    .auth-container-out {
        display: flex;
        position: relative;
        top: 4rem;

    }

    .auth-item-left {
        display: none;
    }

    .auth-item-right {
        display: none;
    }

    .signup-container-out {
        display: flex;
        position: absolute;
        width:78%;
    }
}


@media screen and (512px <= width <820px) {
    body {
        display: flex;
        position: relative;
        background-color: #C6553B;
        justify-content: center;
        align-content: center;
    }

    .auth-container-out {
        display: flex;
        position: relative;
        top: 4rem;
    }

    .auth-item-left {
        display: none;
    }

    .auth-item-right {
        display: none;
    }

    .signup-container-out {
        display: flex;
        position: absolute;
        width:80%;
        max-width: 350px;
        min-width: 360px;
    }
}

@media screen and (820px <= width <= 1600px) {

    .signup-container-out {
        position: absolute;
        width:48%;
        max-width: 400px;
        min-width: 360px;
    }
}