.welcome-heading {
    width: 188px;
    height: 30px;
    left: 495px;
    top: 129px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.welcome-heading-signin {
    width: 205px;
    height: 83px;
    left: 495px;
    top: 157px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */


    color: #000000;
}

.subcontainer-2 {
    display: flex;
    justify-content: flex-end;
}

.welcome-signup-small {
    width: 122px;
    height: 40px;
    left: 824px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #8D8D8D;
}

.signup-right {
    
    width: 122px;
    height: 40px;
    left: 824px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #B87514;
}


.signin-form {
    position: relative;
    display: flex;
    width:100%;
    flex-direction: column;
}


.form-submit-container {
    display: flex;
    justify-content: center;
    width:100%;

    .signin-submit-button {
        width: 100%;
        background: #E48700;
        box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
        border-radius: 10px;
    }
}

.signin-input {
    position: relative;
    background: #FFFFFF;
    width:100%;
    margin-top: 10px;
    border: 1px solid #4285F4;
    border-radius: 9px;
}

.forget-password {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */


    color: #AD3113;
}

@media screen and (200px <=width<=512px) {
    .welcome-heading {
        display: flex;
        width: 188px;
        height: 20px;
        left: 495px;
        top: 129px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 0px;
        color: #000000;
    }
    .welcome-heading-signin {
        width: 205px;
        height: 40px;
        left: 495px;
        top: 157px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;   
    }
}


@media screen and (512px <= width <= 820px) {
    .welcome-heading {
        width: 188px;
        height: 20px;
        left: 495px;
        top: 129px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .welcome-heading-signin {
        width: 205px;
        height: 40px;
        left: 495px;
        top: 157px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;   
    }
}

@media screen and (820px <= width <= 1820px) {
    .welcome-heading {
        width: 188px;
        height: 20px;
        left: 495px;
        top: 129px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

    .welcome-heading-signin {
        width: 205px;
        height: 40px;
        left: 495px;
        top: 157px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;   
    }
}