.welcome-heading {
    width: 188px;
    height: 30px;
    left: 495px;
    top: 129px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.welcome-heading-signin {
    width: 205px;
    height: 83px;
    left: 495px;
    top: 157px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */


    color: #000000;
}

.welcome-signup-small {
    width: 122px;
    height: 40px;
    left: 824px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #8D8D8D;
}

.signup-right {
    
    width: 122px;
    height: 40px;
    left: 824px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #B87514;
}

.signin-form {
    position: relative;
    display: flex;
    width:100%;
    flex-direction: column;
}


.form-submit-container {
    display: flex;
    justify-content: center;
}

.signin-input {
    position: relative;
    background: #FFFFFF;
    width:100%;
    border: 1px solid #4285F4;
    border-radius: 9px;
}